<!DOCTYPE html>

<html>
    <head>
        <title>Web Caesar</title>
        <style>
            form {
                background-color: #eee;
                padding: 20px;
                margin: 0 auto;
                width: 540px;
                font: 16px sans-serif;
                border-radius: 10px;
            }
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
        </style>
    </head>
    <body>
      
        {% block form1%}
        {% endblock %}
        
    </body>
</html>